body {
    background-color: #eee;
}

#app {
    margin: 0 auto;
    background-color: bisque;
    width: 40%;
    padding: 10%;
}

input:not(#toggle) {
    text-align: center;
    border   : none;
    border   : 1px solid black;
    height   : 40px;
    font-size: medium;
}